@charset "UTF-8";
/* cstyles Студія */
/* general */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --ptimary-white-color: #fff;
}

.page {
  background-color: var(--ptimary-bgc-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  margin: o;
}

/* rooles */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}

.button {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;
  text-align: center;
  border: transparent;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .backdrop__modal {
  transform: translate(-50%, -50%) scale(0, 9);
}

.backdrop__modal {
  width: 528px;
  height: 581px;
  padding: 40px 39px 40px 41px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.backdrop__button {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--ptimary-white-color);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop__button:hover {
  color: var(--accent-color);
}

.form__fieldset {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
}

.form__aside {
  position: relative;
}
.form__aside::-moz-placeholder {
  padding: 12px 16px;
}
.form__aside:-ms-input-placeholder {
  padding: 12px 16px;
}
.form__aside::placeholder {
  padding: 12px 16px;
}

.form__info {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 32px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__info:focus {
  border: 1px solid #2196F3;
}

.form__title {
  font-weight: 400;
  font-size: 12px;
  line-height: 1, 16;
  color: #757575;
  margin-bottom: 4px;
}

.form__icon {
  position: absolute;
  left: 12px;
  top: 11px;
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__info:focus + .form__icon {
  fill: var(--accent-color);
}

.form__text {
  resize: none;
  width: 448px;
  height: 120px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.form__text:focus {
  border: 1px solid #2196F3;
}

.form__checked {
  margin-right: 7px;
  margin-left: 13px;
  align-items: center;
  margin-bottom: 30px;
}

.form__excerpt {
  display: flex;
  font-size: 14px;
  line-height: 1.71;
  align-items: center;
}
.form__excerpt::before {
  content: " ";
  display: flex;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid black;
  border-radius: 2px;
}

.form__link {
  color: #2196F3;
}

.form__mark:checked + .form__excerpt::before {
  background-color: var(--accent-color);
  border: none;
  background-image: url(../imges/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.form__button {
  padding: 10px 52px;
  margin-left: 124px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.page-header {
  border-bottom: 1px solid #ECECEC;
}

.main-nav {
  display: flex;
  align-items: center;
}

/* site-nav */
.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--curent {
  color: var(--accent-color);
}
.site-nav__link--curent::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  margin-top: 29px;
}

/* auth-nav */
.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav__item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav__link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav__link:hover, .auth-nav__link:focus {
  color: var(--accent-color);
}

.auth-nav__icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  min-height: 600px;
  background-color: #C4C4C4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imges/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #fff;
  font-style: 400;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}

.hero__button {
  color: var(--ptimary-white-color);
  background-color: #2196F3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background-color: #188CE8;
}

.features__title {
  display: none;
}

.features__list {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0;
  list-style: none;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__icon-bcg {
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-top: 0;
  margin-bottom: 10;
}

.features__text {
  margin-top: 0;
  margin-bottom: 0;
}

.work {
  padding-top: 0;
}

.work__list {
  display: flex;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.work__item {
  position: relative;
}
.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__text {
  width: 370px;
  height: 70px;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  padding-top: 27px;
  text-transform: uppercase;
  color: var(--ptimary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.section.employee {
  background-color: #F5F4FA;
}

.employee__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.employee__item {
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.employee__item:not(:last-child) {
  margin-right: 30px;
}

.employee__title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
  text-align: center;
}

.employee__text {
  font-size: 16px;
  line-height: 1.19x;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}

.employee__socials {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.employee__social {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.employee__social:hover, .employee__social:focus {
  background-color: var(--accent-color);
}
.employee__social:last-child {
  margin-right: 0;
}
.employee__social:hover .employee__icon, .employee__social:focus .employee__icon {
  fill: var(--ptimary-white-color);
}

.employee__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.employee__icon {
  fill: #AFB1B8;
}

.clients__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding-bottom: 0;
  padding-left: 0;
  justify-content: center;
}

.clients__item {
  width: 170px;
  height: 92px;
}
.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #AFB1B8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__flex {
  display: flex;
}

.footer__logo {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 20px;
}

.footer__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover, .footer__link:focus {
  color: var(--accent-color);
}

.footer__mail {
  margin-bottom: 9px;
}

.footer__address {
  color: var(--ptimary-white-color);
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 9px;
}

/* Follow */
.follow {
  margin-left: 70px;
  margin-top: 12px;
}

.follow__list {
  display: flex;
  list-style: none;
  margin: 0;
}

.follow__item {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.follow__item:hover, .follow__item:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}
.follow__item:not(:last-child) {
  margin-right: 10px;
}

.follow__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--ptimary-white-color);
}

.follow__text {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--ptimary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* form-subscription */
.subscription {
  display: flex;
  width: 358px;
  margin-left: 93px;
}

.subscription__fieldset {
  display: flex;
  flex-direction: column;
}

.subscription__email {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2F303A;
  margin-right: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 16px;
}
.subscription__email::-moz-placeholder {
  color: currentColor;
}
.subscription__email:-ms-input-placeholder {
  color: currentColor;
}
.subscription__email::placeholder {
  color: currentColor;
}

.subscription__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.subscription__button {
  /* padding: 10px 28px; */
  text-align: center;
  width: 200px;
  height: 50px;
  margin-top: 36px;
  background-color: var(--accent-color);
  color: #FFFFFF;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.subscription__icon {
  position: absolute;
  margin-left: 10px;
  top: 13px;
}

.nav__list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  margin-bottom: 50px;
  margin-top: 0;
}

.nav__item:not(last-child) {
  margin-right: 8px;
}

.nav__button {
  color: var(--title-text-color);
  background-color: #F5F4FA;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  min-width: auto;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__button:hover, .nav__button:focus {
  color: var(--ptimary-white-color);
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* product */
.product__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.product__link {
  text-decoration: none;
}

.product__item {
  position: relative;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.product__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.product__item:nth-child(3n) {
  margin-right: 0;
}
.product__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.product__img {
  position: relative;
  overflow: hidden;
}

.product__overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product__item:hover .product__overlay {
  opacity: 0.9;
  transform: translateY(0);
}

.product__actions {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--ptimary-white-color);
  padding: 63px 24px;
}

.product__inform {
  padding-right: 24px;
  padding-left: 24px;
}

.product__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  padding-top: 20px;
  margin-top: 0;
  margin-bottom: 4px;
}

.product__text {
  font-size: 16px;
  line-height: 1.88;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color);
}/*# sourceMappingURL=main.css.map */