.features__titles {
    display: none;
}

.features__list {
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0;
    @include mq(tablet) {
            display: flex;
            flex-wrap: wrap;
            
        }
    
    @include mq(desktop) {
            
           
        } 

    
}
.features__item{
    
   

    @include mq(tablet){
        width: 354px;
       
    } 
    @include mq(desktop){
        width: 270px;
    }
    
    
    &:not(:last-child) {
        margin-bottom: 30px;
     
        @include mq(tablet) {
            margin-right: 30px;
            
        }
        @include mq(desktop){
            margin-bottom: 0;
        }
    
    }
    &:nth-child(2n) {
        @media screen and (min-width:768px) and (max-width:1199.9px) {
            margin-right: 0;
        }
    }
    &:nth-last-child(-n + 2){
        @media screen and (min-width:768px) and (max-width:1199.9px){margin-bottom: 0;}
        
    }
    
}
.features__icon-bcg {
        display: flex;
        width: 450px;
        height: 120px;
        align-items: center;
        justify-content: center;
        background-color: #F5F4FA;
        border-radius: 4px;
        margin-bottom: 30px;

        @include mq(tablet) {
         width: 354px;
        }
        
        @include mq(desktop) {
        width: 270px;
        
        }
}

.features__title {
    text-align: center;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-top: 0;
    margin-bottom: 10;

    @include mq(tablet){
        text-align: left;
    }
}

.features__text {
    margin-top: 0;
    margin-bottom: 0;
  
   
}