 .work {
     padding-top: 0;
 }

 .work__list {
     display: flex;
     list-style: none;
     margin-top: 0;
     margin-bottom: 0;
     padding-left: 0;
 }

 .work__item {
     position: relative;
    &:not(:last-child) {
            margin-right: 30px;
        }
 }

 .work__text {
     width: 370px;
     height: 70px;
     margin: 0;
     position: absolute;
     bottom: 0;
     left: 0;
     font-weight: 700;
     font-size: 14px;
     line-height: 1.14;
     text-align: center;
     padding-top: 27px;
     text-transform: uppercase;
     color: var(--ptimary-white-color);
     background-color: rgba(47, 48, 58, 0.8);
 }